@font-face {
	font-family: "EBGaramond";
	src: url(./assets/fonts/EBGaramond-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: "EBGaramond";
	src: url(./assets/fonts/EBGaramond-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat-MediumItalic.ttf);
	font-weight: 500;
}
@font-face {
	font-family: "Montserrat";
	src: url(./assets/fonts/Montserrat-Regular.ttf);
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #13140a;
	font-family: "Montserrat";
	margin: 0 auto;
}

.wrapper {
	background-color: #f4f2f2;
	border: 2px solid rgb(12, 1, 1);
	border-radius: 6px;
	box-shadow: 25px 20px 5px 5px rgba(1, 1, 19, 0.2);
	max-width: 1150px;
	height: fit-content;
	margin: 0 auto;
}

/* Шапка */

.header {
	display: flex;
	justify-content: space-between;
	width: 1104px;
	margin: 0;
	height: 450px;
}

.header-left {
	background-color: #9c9898;
	width: 420px;
	height: 450px;
}

.header-image {
	width: 515px;
	height: 350px;
}

.header-image__image {
	border-radius: 100px;
	box-shadow: 10px 10px 10px 10px rgba(142, 5, 5, 0.617);
	max-width: 280px;
	height: 385px;
	margin-top: 10px;
	margin-left: 28px;
}

.header-right {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 600px;
	height: 450px;
}

.second-name {
	font-size: 2.5em;
	font-weight: 700;
	margin-top: 145px;
}

.first-name {
	color: rgba(171, 45, 45, 0.713);
	font-size: 2.5em;
	margin-left: 15px;
	margin-top: 150px;
}

.job-title {
	background-color: rgba(4, 2, 2, 0.713);
	border-radius: 80px;
	text-align: center;
	width: 530px;
	height: 3px;
	margin-bottom: 280px;
	padding-right: 230px;
}

.job-title__title {
	color: #a91a1ad1;
	font-family: "EBGaramond";
	font-size: 1.7em;
	font-weight: 400;
}

/* Шапка */

/* Контент */

.main {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.main__left {
	background-color: #9c9898;
	width: 420px;
	height: 1105px;
}

.contact-title {
	background-color: rgba(194, 55, 55, 0.713);
	border-radius: 80px;
	margin: 0 auto;
	margin-top: 20px;
	width: 300px;
	height: 70px;
}

.contacts {
	color: #f4f2f2;
	padding-top: 20px;
	text-align: center;
}

.contacts__container {
	display: flex;
	flex-direction: column;
}

.tg-container {
	display: flex;
	align-items: center;
	margin-top: 20px;
	width: 300px;
}

.bxl-telegram {
	color: #c22626b5;
	font-size: 2.6em;
}

.bxl-telegram:hover {
	transition: 0.8s;
	color: rgb(13, 187, 245);
}

.tg-username {
	color: #100a0a;
	font-style: italic;
	font-size: 18px;
	text-decoration: none;
	padding-left: 40px;
}

.tg-username:hover {
	color: #c72b17b0;
	font-size: 24px;
	transition: 0.9s;
}

.github-container {
	display: flex;
	align-items: center;
	margin-top: 10px;
	width: 300px;
}

.bxl-github {
	color: #c22626b5;
	font-size: 2.6em;
}

.bxl-github:hover {
	transition: 0.8s;
	color: rgb(7, 9, 12);
}

.github {
	color: #100a0a;
	font-style: italic;
	font-size: 18px;
	text-decoration: none;
	margin-left: 40px;
}

.github:hover {
	color: #c72b17b0;
	transition: 0.9s;
	font-size: 24px;
}

.mail-container {
	display: flex;
	align-items: center;
	margin-top: 10px;
	width: 300px;
}

.bxl-gmail {
	color: #c22626b5;
	font-size: 2.6em;
}

.bxl-gmail:hover {
	transition: 0.8s;
	color: rgb(218, 25, 22);
}

.mail {
	color: #100a0a;
	font-style: italic;
	font-size: 18px;
	text-decoration: none;
	margin-left: 40px;
}

.mail:hover {
	color: #c72b17b0;
	transition: 0.9s;
	font-size: 23px;
}

.discord-container {
	display: flex;
	align-items: center;
	margin-top: 10px;
	width: 300px;
}

.bxl-discord {
	color: #c22626b5;
	font-size: 2.6em;
}

.bxl-discord:hover {
	transition: 0.8s;
	color: rgb(138, 98, 225);
}

.discord {
	font-style: italic;
	font-size: 18px;
	margin-left: 40px;
}

.discord:hover {
	color: #c72b17b0;
	font-size: 24px;
	transition: 0.9s;
}

.facebook-container {
	display: flex;
	align-items: center;
	margin-top: 10px;
	width: 300px;
}

.bxl-facebook-circle {
	color: #c22626b5;
	font-size: 2.7em;
}

.bxl-facebook-circle:hover {
	transition: 0.7s;
	color: rgb(37, 21, 212);
}

.facebook {
	color: #100a0a;
	font-style: italic;
	font-size: 18px;
	text-decoration: none;
	margin-left: 40px;
}

.facebook:hover {
	color: #c72b17b0;
	font-size: 23px;
	transition: 0.7s;
}

.skills {
	margin-top: 20px;
}

.skills__title {
	background-color: rgba(194, 55, 55, 0.713);
	border-radius: 80px;
	margin: 0 auto;
	margin-top: 55px;
	width: 300px;
	height: 70px;
}

.skills__skill-title {
	color: #fcfbfb;
	text-align: center;
	padding-top: 20px;
}

.skills-container__item {
	display: flex;
	align-items: center;
	list-style-type: none;
}

.bxl-html5 {
	color: #ee4807;
	font-size: 2.5em;
	margin-top: 15px;
}

.bxl-css3 {
	color: #1859f1;
	font-size: 2.5em;
	margin-top: 15px;
}

.bxl-sass {
	color: #e03097;
	font-size: 2.4em;
	margin-top: 15px;
}

.bxl-bootstrap {
	color: rgb(137, 14, 194);
	font-size: 2.4em;
	margin-top: 15px;
}

.bxl-javascript {
	background-color: #030202;
	color: rgb(243, 235, 14);
	font-size: 2.4em;
	margin-top: 15px;
}

.bxl-react {
	color: rgb(13, 187, 245);
	font-size: 2.5em;
	margin-top: 15px;
}

.bxl-git {
	color: rgb(184, 21, 18);
	font-size: 2.5em;
	margin-top: 15px;
}

.figma-icon {
	color: rgb(160, 15, 162);
	margin-top: 15px;
	width: 40px;
	height: 30px;
}

.item__rating {
	display: flex;
	align-items: center;
}

.image-rating {
	background-color: #c72b17b0;
	border-radius: 50%;
	list-style-type: none;
	margin-right: 10px;
	margin-top: 20px;
	width: 10px;
	height: 10px;
}

.image-rating__none {
	background-color: #030202;
	border-radius: 50%;
	list-style-type: none;
	margin-right: 10px;
	margin-top: 20px;
	width: 10px;
	height: 10px;
}

.about {
	background-color: rgba(194, 55, 55, 0.713);
	border-radius: 80px;
	width: 300px;
	height: 70px;
}

.about__about-me {
	color: #f4f2f2;
	padding-top: 20px;
	text-align: center;
}

.about__text {
	padding-top: 20px;
	margin-right: 40px;
	width: 570px;
}

.courses-box {
	background-color: rgba(194, 55, 55, 0.713);
	border-radius: 80px;
	margin-top: 85px;
	width: 300px;
	height: 70px;
}

.courses-title {
	color: rgb(247, 247, 245);
	padding-top: 20px;
	text-align: center;
}

.courses-main {
	margin-top: 45px;
}

.courses-item {
	margin-bottom: 10px;
}

li {
	list-style-type: none;
}

.stepik,
.freecodecamp,
.elbrus,
.udemy {
	color: rgb(7, 9, 12);
	font-size: 1.6em;
	text-decoration: none;
}

.stepik:hover,
.freecodecamp:hover,
.elbrus:hover,
.udemy:hover {
	color: rgba(194, 55, 55, 0.713);
}

.langueges-box {
	background-color: rgba(194, 55, 55, 0.713);
	border-radius: 80px;
	margin-top: 65px;
	width: 300px;
	height: 70px;
}

.langueges-title {
	color: rgb(247, 247, 245);
	padding-top: 20px;
	text-align: center;
}

.languages__item {
	margin-top: 35px;
	font-size: 1.5em;
}

.eng {
	margin-bottom: 10px;
}

.hobbies__box {
	background-color: rgba(194, 55, 55, 0.713);
	border-radius: 80px;
	margin-top: 55px;
	width: 300px;
	height: 70px;
}

.hobbies__title {
	color: rgb(247, 247, 245);
	padding-top: 20px;
	text-align: center;
}

.hobbies__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
}

.hobbies__item {
	font-style: italic;
	font-size: 1.5em;
	margin-bottom: 15px;
	margin-top: 25px;
	margin-right: 15px;
}

/* Контент */

/* Подвал */

.footer {
	background-color: rgba(198, 20, 20, 0.713);
	height: 70px;
}

.footer__icon {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 6px;
}

.github-link {
	color: rgb(7, 9, 12);
	text-decoration: none;
}

.github-logo {
	width: 45px;
	height: 45px;
}

.rsschool-link {

  color: rgb(7, 9, 12);
  text-decoration: none;
}


.rsschool-logo {
	width: 100px;
	height: 45px;

}

